<a href="https://colab.research.google.com/github/trewqyu/python_t/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EC%A4%91%EA%B0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

travel = pd.read_csv('/content/drive/MyDrive/tn_travel_여행_H.csv', encoding='utf-8-sig')
transport = pd.read_csv('/content/drive/MyDrive/tn_mvmn_consume_his_이동수단소비내역_H.csv', encoding='utf-8-sig')
lodging = pd.read_csv('/content/drive/MyDrive/tn_lodge_consume_his_숙박소비내역_H.csv', encoding='utf-8-sig')
activity_consume = pd.read_csv('/content/drive/MyDrive/tn_activity_consume_his_활동소비내역_H.csv', encoding='utf-8-sig')
activity = pd.read_csv('/content/drive/MyDrive/tn_activity_his_활동내역_H.csv', encoding='utf-8-sig')
visit = pd.read_csv('/content/drive/MyDrive/tn_visit_area_info_방문지정보_H.csv', encoding='utf-8-sig')
codeB = pd.read_csv('/content/drive/MyDrive/tc_codeb_코드B.csv', encoding='utf-8-sig')

#데이터 확인
print("✅ [travel 파일]")
print(travel.columns)
print(travel.head(), "\n")

print("✅ [transport 파일]")
print(transport.columns)
print(transport.head(), "\n")

print("✅ [lodging 파일]")
print(lodging.columns)
print(lodging.head(), "\n")

print("✅ [activity_consume 파일]")
print(activity_consume.columns)
print(activity_consume.head(), "\n")

print("✅ [activity 파일]")
print(activity.columns)
print(activity.head(), "\n")

print("✅ [visit 파일]")
print(visit.columns)
print(visit.head(), "\n")

print("✅ [codeB 파일]")
print(codeB.columns)
print(codeB.head(), "\n")

#분석 용이하게 추출
travel = travel[['TRAVEL_ID', 'TRAVEL_PURPOSE']]
transport = transport[['TRAVEL_ID', 'PAYMENT_NUM', 'PAYMENT_AMT_WON']]
lodging = lodging[['TRAVEL_ID', 'PAYMENT_NUM', 'PAYMENT_AMT_WON']]
activity_consume = activity_consume[['TRAVEL_ID', 'PAYMENT_NUM', 'PAYMENT_AMT_WON']]
activity = activity[['TRAVEL_ID', 'VISIT_AREA_ID', 'ACTIVITY_TYPE_CD']]
visit = visit[['VISIT_AREA_ID', 'VISIT_AREA_NM']]

✅ [travel 파일]
Index(['TRAVEL_ID', 'TRAVEL_NM', 'TRAVELER_ID', 'TRAVEL_PURPOSE',
       'TRAVEL_START_YMD', 'TRAVEL_END_YMD', 'MVMN_NM', 'TRAVEL_PERSONA',
       'TRAVEL_MISSION', 'TRAVEL_MISSION_CHECK'],
      dtype='object')
   TRAVEL_ID TRAVEL_NM TRAVELER_ID TRAVEL_PURPOSE TRAVEL_START_YMD  \
0  e_e000295       E03     e000295    21;22;4;7;8       2023-06-03
1  e_e000305       H02     e000305     12;2;21;27       2023-06-09
2  e_e000335       H02     e000335    1;22;26;4;6       2023-06-17
3  e_e000365       H02     e000365  24;26;27;28;5       2023-05-27
4  e_e000401       H02     e000401  1;10;21;23;24       2023-05-27

  TRAVEL_END_YMD MVMN_NM                             TRAVEL_PERSONA  \
0     2023-06-05     자가용           제주,도서지역 방문/거주지 구분 없음/39세 이하/특별미션
1     2023-06-11     자가용      제주,도서지역 방문/거주지 구분 없음/39세 이하/자녀동반/일반미션
2     2023-06-18     자가용        제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션
3     2023-05-30  대중교통 등  제주,도서지역 방문/거주지 구분 없음/40세 이상/3인 이상 친구/일반미션
4     2023-05-30     자가용        제주,도서지역 방문/거주지 구분 없음/39세 이하/부부/일반미션

  TRAVEL_MISSION TRAVEL_MISSION_CHECK
0    21;22;4;7;8               7;1;22
1     12;2;21;27             22;21;27
2    1;22;26;4;6               1;6;26
3  24;26;27;28;5              5;11;12
4  1;10;21;23;24              1;23;21

✅ [transport 파일]
Index(['TRAVEL_ID', 'MVMN_SE', 'PAYMENT_SE', 'PAYMENT_SEQ', 'MVMN_SE_NM',
       'RSVT_YN', 'PAYMENT_NUM', 'BRNO', 'STORE_NM', 'PAYMENT_DT',
       'PAYMENT_MTHD_SE', 'PAYMENT_AMT_WON', 'PAYMENT_ETC'],
      dtype='object')
   TRAVEL_ID  MVMN_SE PAYMENT_SE  PAYMENT_SEQ        MVMN_SE_NM RSVT_YN  \
0  e_e013031        2        통행료            0  렌터카(승용/승합/버스 등등)       N
1  h_h000053       10        교통비            0              배/선박       N
2  h_h001461        4        교통비            5                택시       N
3  h_h000051       12        교통비            0           시외/고속버스       N
4  h_h004752        4        교통비            3                택시       N

   PAYMENT_NUM  BRNO STORE_NM        PAYMENT_DT  PAYMENT_MTHD_SE  \
0            3   NaN      NaN               NaN              NaN
1            1   NaN      NaN               NaN              NaN
2            1   NaN    카카오페이  2023-06-29 16:46              1.0
3            1   NaN      NaN               NaN              NaN
4            2   NaN  남원운수(주)  2023-08-31 19:14              1.0

   PAYMENT_AMT_WON PAYMENT_ETC
0           5600.0         NaN
1           6000.0         NaN
2           7800.0         NaN
3           8200.0         NaN
4           8200.0        택시비

✅ [lodging 파일]
Index(['TRAVEL_ID', 'LODGING_NM', 'LODGING_PAYMENT_SEQ', 'LODGING_TYPE_CD',
       'RSVT_YN', 'CHK_IN_DT_MIN', 'CHK_OUT_DT_MIN', 'PAYMENT_NUM', 'BRNO',
       'STORE_NM', 'ROAD_NM_ADDR', 'LOTNO_ADDR', 'ROAD_NM_CD', 'LOTNO_CD',
       'PAYMENT_DT', 'PAYMENT_MTHD_SE', 'PAYMENT_AMT_WON', 'PAYMENT_ETC'],
      dtype='object')
   TRAVEL_ID LODGING_NM  LODGING_PAYMENT_SEQ  LODGING_TYPE_CD RSVT_YN  \
0  h_h000271   646미터퍼세크                    1                3       Y
1  h_h000271       콴도제주                    1                3       Y
2  h_h001184        원루프                    0               11       Y
3  h_h001676    금호제주리조트                    0                4       Y
4  h_h002474     바다마루펜션                    0                3       Y

   CHK_IN_DT_MIN  CHK_OUT_DT_MIN  PAYMENT_NUM  BRNO  STORE_NM  \
0            NaN             NaN            2   NaN  646미터퍼세크
1            NaN             NaN            2   NaN      콴도제주
2            NaN             NaN            4   NaN       NaN
3            NaN             NaN            2   NaN       NaN
4            NaN             NaN            4   NaN       NaN

                      ROAD_NM_ADDR                   LOTNO_ADDR  ROAD_NM_CD  \
0        제주특별자치도 제주시 한경면 일주서로 4469                          NaN   3349236.0
1  제주특별자치도 서귀포시 남원읍 태위로151번길 14-12  제주특별자치도 서귀포시 남원읍 위미리 1996-6   4850908.0
2               제주특별자치도 제주시 홍랑길 15       제주특별자치도 제주시 삼도일동 555-2         NaN
3      제주특별자치도 서귀포시 남원읍 태위로 522-12    제주특별자치도 서귀포시 남원읍 남원리 2390         NaN
4    제주특별자치도 서귀포시 표선면 표선백사로60번길 70                          NaN         NaN

       LOTNO_CD        PAYMENT_DT  PAYMENT_MTHD_SE  PAYMENT_AMT_WON  \
0  5.011031e+09  2023-04-16 22:43                1                0
1  5.013025e+09  2023-04-16 22:47                1                0
2           NaN               NaN                4                0
3           NaN               NaN                4                0
4           NaN               NaN                4                0

   PAYMENT_ETC
0    JACUZZI B
1  QUANDO.JEJU
2          NaN
3          NaN
4          NaN

✅ [activity_consume 파일]
Index(['TRAVEL_ID', 'VISIT_AREA_ID', 'ACTIVITY_TYPE_CD', 'ACTIVITY_TYPE_SEQ',
       'CONSUME_HIS_SEQ', 'CONSUME_HIS_SNO', 'PAYMENT_NUM', 'BRNO', 'STORE_NM',
       'ROAD_NM_ADDR', 'LOTNO_ADDR', 'ROAD_NM_CD', 'LOTNO_CD', 'PAYMENT_DT',
       'PAYMENT_MTHD_SE', 'PAYMENT_AMT_WON', 'PAYMENT_ETC', 'SGG_CD'],
      dtype='object')
   TRAVEL_ID  VISIT_AREA_ID  ACTIVITY_TYPE_CD  ACTIVITY_TYPE_SEQ  \
0  e_e005215     2307310006                 1                  0
1  h_h001564     2307080009                 2                  1
2  g_g002962     2306250001                 1                  0
3  h_h001195     2306220006                 1                  0
4  e_e000588     2305280004                 2                  0

   CONSUME_HIS_SEQ  CONSUME_HIS_SNO  PAYMENT_NUM          BRNO  STORE_NM  \
0                0                1            1  3.501302e+09     또와순대국
1                1                1            3  7.920201e+09  새만금군산건어물
2                0                1            2  4.110822e+09    영암대중음식
3                0                1            4  8.979102e+09    동문남해수산
4                0                1            2  5.897700e+09   강화소문난떡집

           ROAD_NM_ADDR               LOTNO_ADDR  ROAD_NM_CD      LOTNO_CD  \
0    인천 중구 영종대로162번길 20         인천 중구 운서동 3090-1   4247495.0  2.811015e+09
1   전북 군산시 옥도면 선유북길 107   전북 군산시 옥도면 선유도리 213-10   4604573.0  4.513039e+09
2      전남 목포시 수문로35번길 1           전남 목포시 죽동 95-1   4643408.0  4.611011e+09
3  제주특별자치도 제주시 동문로2길 10  제주특별자치도 제주시 일도일동 1480-3   4847600.0  5.011010e+09
4   인천 강화군 강화읍 중앙로 17-9       인천 강화군 강화읍 갑곳리 849   3150025.0  2.871025e+09

         PAYMENT_DT  PAYMENT_MTHD_SE  PAYMENT_AMT_WON PAYMENT_ETC  SGG_CD
0  2023-07-31 12:50                1          11000.0       김치순대국     NaN
1  2023-07-08 17:58                1          18000.0         NaN     NaN
2  2023-06-25 15:46                1          45000.0         NaN     NaN
3  2023-06-22 19:58                1          40000.0         NaN     NaN
4  2023-05-28 10:41                1           5000.0         NaN     NaN

✅ [activity 파일]
Index(['TRAVEL_ID', 'VISIT_AREA_ID', 'ACTIVITY_TYPE_CD', 'ACTIVITY_TYPE_SEQ',
       'ACTIVITY_ETC', 'ACTIVITY_DTL', 'RSVT_YN', 'EXPND_SE', 'ADMISSION_SE'],
      dtype='object')
   TRAVEL_ID  VISIT_AREA_ID  ACTIVITY_TYPE_CD  ACTIVITY_TYPE_SEQ  \
0  e_e000295     2306030007                 1                  0
1  e_e000295     2306040001                 1                  0
2  e_e000295     2306040001                 1                  1
3  e_e000295     2306030002                 2                  0
4  e_e000295     2306030003                 2                  0

   ACTIVITY_ETC             ACTIVITY_DTL RSVT_YN EXPND_SE  ADMISSION_SE
0           NaN         바베큐고기 술 수박 닭강정 등       Y        4           NaN
1           NaN                커피 초코에클레어       Y        1           NaN
2           NaN                      NaN     NaN        4           NaN
3           NaN  고기 야채 술 과자 닭강정 양장피 밥 라면       N        1           NaN
4           NaN          음료 비빔면 김치 쌈장 여명       N        1           NaN

✅ [visit 파일]
Index(['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM',
       'VISIT_START_YMD', 'VISIT_END_YMD', 'ROAD_NM_ADDR', 'LOTNO_ADDR',
       'X_COORD', 'Y_COORD', 'ROAD_NM_CD', 'LOTNO_CD', 'POI_ID', 'POI_NM',
       'RESIDENCE_TIME_MIN', 'VISIT_AREA_TYPE_CD', 'REVISIT_YN',
       'VISIT_CHC_REASON_CD', 'LODGING_TYPE_CD', 'DGSTFN', 'REVISIT_INTENTION',
       'RCMDTN_INTENTION', 'SGG_CD'],
      dtype='object')
   VISIT_AREA_ID  TRAVEL_ID  VISIT_ORDER     VISIT_AREA_NM VISIT_START_YMD  \
0     2306030001  e_e000295            1                 집      2023-06-03
1     2306030002  e_e000295            2  트레이더스 홀세일 클럽 안산점      2023-06-03
2     2306030003  e_e000295            3           백령 할인마트      2023-06-03
3     2306030007  e_e000295            4           아침 풍경펜션      2023-06-03
4     2306040001  e_e000295            5             사이 바다      2023-06-04

  VISIT_END_YMD                ROAD_NM_ADDR             LOTNO_ADDR  \
0    2023-06-03           경기 성남시 분당구 수내로 39     경기 성남시 분당구 수내동 1-1
1    2023-06-03         경기 안산시 단원구 중앙대로 397    경기 안산시 단원구 신길동 1687
2    2023-06-03       인천 옹진군 영흥면 영흥로 164-10     인천 옹진군 영흥면 내리 8-31
3    2023-06-04  인천 옹진군 영흥면 영흥서로380번길 101-3  인천 옹진군 영흥면 내리 1212-32
4    2023-06-04      인천 옹진군 영흥면 영흥북로 374-25  인천 옹진군 영흥면 내리 724-132

      X_COORD    Y_COORD  ...          POI_NM  RESIDENCE_TIME_MIN  \
0         NaN        NaN  ...             NaN                 NaN
1  126.785016  37.331252  ...  트레이더스홀세일클럽 안산점                90.0
2  126.493973  37.258358  ...          백령할인마트                30.0
3         NaN        NaN  ...          아침풍경펜션               540.0
4         NaN        NaN  ...            하이바다                60.0

  VISIT_AREA_TYPE_CD REVISIT_YN  VISIT_CHC_REASON_CD  LODGING_TYPE_CD DGSTFN  \
0                 21        NaN                  NaN              NaN    NaN
1                  4          N                  6.0              NaN    5.0
2                  4          N                  9.0              NaN    5.0
3                 24          N                  6.0              3.0    5.0
4                  4          N                  1.0              NaN    3.0

   REVISIT_INTENTION  RCMDTN_INTENTION  SGG_CD
0                NaN               NaN     NaN
1                3.0               5.0     NaN
2                3.0               5.0     NaN
3                5.0               5.0     NaN
4                1.0               2.0     NaN

[5 rows x 23 columns]

✅ [codeB 파일]
Index(['idx', 'cd_a', 'cd_b', 'cd_nm', 'cd_memo', 'cd_memo2', 'del_flag',
       'order_num', 'ins_dt', 'edit_dt'],
      dtype='object')
    idx cd_a cd_b            cd_nm  \
0  1055  ACT    1               취식
1  1056  ACT    2          쇼핑 / 구매
2  1057  ACT    3  체험 활동 / 입장 및 관람
3  1058  ACT    4  단순 구경 / 산책 / 걷기
4  1059  ACT    5               휴식

                                            cd_memo  cd_memo2 del_flag  \
0                                               NaN       NaN        N
1   (아이 쇼핑 포함)<br>* 이전 방문지에서 해당 방문지 이동 중 구매한 내역 포함        NaN        N
2                                               NaN       NaN        N
3                                               NaN       NaN        N
4                                               NaN       NaN        N

   order_num               ins_dt edit_dt
0         10  2022-07-05 11:34:29     NaN
1         20  2022-07-05 11:49:08     NaN
2         30  2022-07-05 11:49:37     NaN
3         40  2022-07-05 11:49:43     NaN
4         50  2022-07-05 11:49:48     NaN